.two-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.c-sec {
  flex: 1;
  padding: 20px;
}

.c-m-i {
  height: 500px;
  width: 100%;
  max-width: 500px;
  margin: auto;
  display: block;
}

.aa {
  font-size: 28px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.c-sec h4,
.c-sec h1,
p {
  color: white;
}

.card {
  margin-bottom: 20px;
}
